# Python virtual environment
venv/

# Temp data
data/
*.egg-info/

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Streamlit
.streamlit/

# Logs
*.log
logs/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml
